@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alegreya+Sans:ital,wght@1,300&family=Lato&family=Roboto&family=Roboto+Condensed&family=Source+Serif+4&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;
